#carousel {
    margin: 0 auto;
    padding: 0;
    height: 400px;
    width: 400px;
    border: 10px solid blue;
    overflow: hidden;
}

ul {
    width: 2000px;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    width: 400px;
    height: 400px;
    list-style: none;
    float: left;
    display: inline-block;
}

img {
    width: 400px;
    height: 400px;
}